<h1>ユーザー進行状況</h1>
    
<div class="row">
  <div class="col-md">
    <ul class="nav nav-tabs nav-justified mb-3">
       <li class="nav-item"><a href="<%= user_path(@user) %>">クエスト  <span class="badge badge-secondary"><%= @count_quests %><%= render 'quests/quests', quests: @quests %></span></a></li>
    </ul>
  </div>  
</div>

