<!DOCTYPE html>
<html  lang="ja">
    <head>
         <meta charset="utf-8">
    </head>
    <body>
        <h1>目標達成アプリ</h1>
        <p>目標を普通に決めても結局やる気が出ないですよね..<br>
           そのため目標をクリアする楽しみや面白さが必要です！<br>
            これはゲーム感覚でモチベが続く目標達成アプリです。</p>
         <div class="nav-item-wrapper">    
           <div class="nav-item"><a href="#" class="nav-link">サインアップ</a></div>
           <div class="nav-item"><a href="#" class="nav-link">ログイン</a></div>
    </body>
</html>
