
h1 {
    font-size: 100px;
    text-align:center;
}

p {
    font-size: 30px;
    text-align:center;
}

.nav-item-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
.nav-item-wrapper {
  text-align: center;
  font-size: 30px;
}